* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: gold;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h2 {
    user-select: none;
    font-size: 26px;
    font-weight: 700;
    color: purple;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: purple;
    padding: 8px 16px;
    margin-left: 20px;
    transition: .3s;
}

nav a:hover {
    text-decoration: underline;
}